
.App {
}

.header {
  margin: 10px 10px 10px 10px;
  position: relative;
}

.logo-container {
  position: absolute;
  top: 20%;
}

.hero-image {
  display: flex;
  justify-content: center;
  background-image: url("./images/links-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.url-input-container {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 20%;
}

.shortr-subhead {
  font-size: 24px;
  font-style: italic;
  font-family: Impact, sans-serif;
  color: #ffffff;
}

.url-input {
    width: 100%;
    height: 50px;
    border-radius: .25rem;
    font-size: 16px;
    box-sizing: border-box;
}

.button-container {
  margin: 5px 5px 5px 5px;
  display: flex;
  justify-content: center;
}
